<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>net.privateline-connect.client.Helper</string>
	<key>KeepAlive</key>
    <false/>
	<key>MachServices</key>
	<dict>
		<key>net.privateline-connect.client.Helper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.electron.privateline-connect-ui</string>
	</array>
</dict>
</plist>
