.DS_Store
IVPN Agent
References/macOS/_deps
References/Windows/* Firewall Native x64.dll
References/Windows/* Firewall Native.dll
References/Windows/* Helpers Native x64.dll
References/Windows/* Helpers Native.dll
References/Windows/Native Projects/bin/
References/Windows/Native Projects/* Firewall Native/Release/
References/Windows/Native Projects/* Firewall Native/x64/
References/Windows/Native Projects/* Helpers Native/Release/
References/Windows/Native Projects/* Helpers Native/x64/
bin/
References/Windows/WintunInstaller/.deps/
References/Windows/WintunInstaller/obj/
References/Windows/WireGuard/
.deps/
References/Windows/etc/port.txt
References/Windows/log/
References/Windows/etc/settings.json
__debug_bin
References/Windows/etc/openvpn.cfg
/References/linux/tmp/*
/References/linux/etc/settings.json
/References/Linux/etc/settings.json
/References/Linux/scripts/_out_bin/*
/References/Linux/tmp/port.txt
/References/Linux/etc/openvpn.cfg
*.pyc
References/Windows/mutable/ovpn_extra_params.txt
References/Windows/Native Projects/.vs/
References/Windows/Native Projects/* Firewall Native/* Firewall Native.vcxproj.user
References/Windows/Native Projects/* Helpers Native/* Helpers Native.vcxproj.user
