[Desktop Entry]
Name=privateLINE UI
Comment=UI interface for privateLINE
GenericName=VPN client
Exec=/opt/privateline/ui/bin/privateline-ui
Icon=privateline
Type=Application
StartupNotify=true
Categories=Network;
