[Desktop Entry]
Name=privateLINE
Comment=UI interface for privateLINE
GenericName=VPN client
Exec=/opt/privateline/ui/bin/privateline-ui
Icon=/opt/privateline/ui/privatelineicon.svg
Type=Application
StartupNotify=true
Categories=Network;
