[Desktop Entry]
Name=privateLINE Connect UI
Comment=UI interface for privateLINE Connect
GenericName=VPN client
Exec=/opt/privateline-connect/ui/bin/privateline-connect-ui
Icon=privateline-connect
Type=Application
StartupNotify=true
Categories=Network;
