[Desktop Entry]
Name=privateLINE Connect UI
Exec=privateline-connect-ui
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/privateline-connect.png
StartupWMClass=PRIVATELINE
Comment=privateLINE Connect UI Client
Categories=Network;
