[Desktop Entry]
Name=PRIVATELINE
Exec=privateline.ui
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/privateline.png
StartupWMClass=PRIVATELINE
Comment=PRIVATELINE Client
Categories=Network;
